/*----browser clearsets and some general typo tag setting------*/

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th { 
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}

body{font:11px/1.3 Verdana, Arial, Helvetica, Geneva, sans-serif;*font-size:11px;*font:11px;}
select,input,button,textarea,button{font:11px Verdana, Arial, Helvetica, Geneva, sans-serif;}
table{font-size:inherit;font:100%;}
pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}


body { color: #666;	background: #c6e9fb;}
p { margin: 0 0 10px 0; }
a{cursor:pointer; text-decoration:none}
a:hover{text-decoration:underline}

h1 { color: #5a5a5a; font:bold 18px Verdana, Helvetica, sans-serif; margin:0 0 10px 0; }
h1.second-color { color: navy; }
h1 small {font:bold 14px Verdana, Helvetica, sans-serif;}
h2 { font: bold 14px Verdana, Helvetica, sans-serif; color:#005596; margin:0 0 10px 0; }
h2.second-color { color: navy; }

	
/*----table setting------*/
	
.general_table {
	margin:5px 0 10px 0;
	}
	
.general_table th {
	font:bold 12px Verdana, Verdana, Helvetica, sans-serif;
	color:navy;
	padding:10px 10px;
	background-color:#9abfe5;
	border:1px solid #eee;
	border-bottom:none;
	}
	
.general_table td {
	padding:2px 4px;
	border:1px solid #eee;
	}
	
/*----my form setting------*/
.generalform 
{
	margin:0px 0px 10px;
}

.generalform p, .generalform .item {
clear:left;
margin:0;
padding:7px 0 7px 0;
border-bottom:1px dashed #bae1ff;
}

span.added {
font:11px Verdana, Arial, Helvetica, sans-serif;
color:#F9100C;
}
	
fieldset {
	padding:10px;
	overflow:hidden;
	margin-bottom:10px;
	}
	
legend {
	font:bold 11px Verdana, Verdana, Helvetica, sans-serif;
	color:navy;
	padding:0 5px 0 5px;
	}
	
.generalform label.caption{
	float:left;
	width:200px;
	}

.generalform table.inputtable  { border-collapse:collapse; width:100%; margin-bottom:10px; }
.generalform .inputtable .caption { padding:7px 0px; border-bottom:1px dashed #bae1ff; vertical-align:top; width:200px }
.generalform .inputtable .item { padding:7px 0px; border-bottom:1px dashed #bae1ff; vertical-align:top; }
.generalform .inputtable .sep { padding:7px 5px; width:1%; }
.generalform .inputtable .buttons { padding-top:15px; vertical-align:top; }
			
input.normal,
select.normal,
textarea.normal {
		background-color: #bae1ff;
		/*border:none;*/
		font: 11px Verdana, Arial, Helvetica, sans-serif;
		padding: 2px 4px;
		color: #0a5690;
		width: 200px;
		margin-right:10px;
		}
		
textarea.normal { height: 100px; width: 300px;}	
select.normal {width:auto;}
input.login {
		background-color: #bae1ff;
		border: none; 
		font: 11px Verdana, Arial, Helvetica, sans-serif;
		padding: 2px 4px;
		color: #0a5690;
		width: 150px;
		margin-right:10px;
		}

input.normal[disabled],
select.normal[disabled],
textarea.normal[disabled] {
		background-color: #eee;
		color: #999;
		}

.loginform p {
clear:left;
margin:0;
padding:7px 0 7px 0;
padding-left:100px;
border-top:1px dashed #bae1ff;
}

.loginform label{
	float:left;
	margin-left:-100px;
	width:10px;
	}

		
.genButton {
	background-color: #005596;
	margin: 0; padding: 0; 
	border: 0;
	padding: 2px;
	text-align: center;
	font-weight: bold;
	color: #fff;
	font-size: 11px;
	width: auto;
	}
	
	
label {
	font:11px Verdana, Arial, Helvetica, Geneva, sans-serif;
	color:#666;
	margin:0 5px 0 0;
	}	
	
	
/*----menu setting------*/
#navigation {width:950px; clear:both; padding:0; margin:0 auto; list-style:none; position:relative; z-index:500; font:11px Verdana, Arial, Helvetica, Geneva, sans-serif;margin-left:10px;}
#navigation li {float:left; margin:0px 2px 0px 2px;}
#navigation li li {margin:0}
#navigation li a {color:#666; white-space:nowrap;}
#navigation li a b {float:left; display:block; font-weight:normal}

#navigation li a.top {padding:1px 9px;float:left;text-decoration:none;border:1px solid #ccc;border-bottom:none;cursor:pointer;}
#navigation li a.top:hover {background-color:#e1eeff; color:#0a5690; font-weight:normal;}
#navigation li a.current, #navigation li a.current:hover {background-color:#e1eeff; color:#0a5690; font-weight:bold !important;}

#navigation table {border-collapse:collapse; margin-right:-10px;}

#navigation ul {position:absolute; left:-9999px; top:-9999px; padding:0; margin:0; list-style:none; background: #d1d1d1; white-space:nowrap; height:auto; width:auto; z-index:300; text-align:left;}
#navigation li:hover {position:relative; z-index:300;}
#navigation ul li a {width:140px;padding:3px 7px 5px;background-color:#d1d1d1;border:1px solid #aaa;border-top:none; margin:0}

#navigation a:hover {position:relative;z-index:300;background:transparent;font-weight:normal;color:#0a5690;text-decoration:none;}
#navigation :hover ul {left:0; top:15px; white-space:nowrap;}
#navigation :hover ul li a:hover {background-color:#c5c5c5}

/* it could have been this simple if all browsers understood */
/* show next level */
#navigation li:hover li:hover > ul {left:-15px;margin-left:100%;top:-10px;}
/* keep further levels hidden */
#navigation li:hover > ul ul {position:absolute; left:-9999px; top:-9999px; width:auto;}
/* show path followed */
#navigation li:hover li:hover > a {font-weight:normal;color:#0a5690;text-decoration:none;}

#navigation :hover ul li {float:none; background:transparent;}
#navigation a:hover ul li {float:left;}
#navigation :hover ul li a {display:block; font-size:11px; height:18px; line-height:18px; padding:0 10px; text-decoration:none; text-align:left;font-weight:normal !important;}

/* show next level */
#navigation a:hover a:hover ul,
#navigation a:hover a:hover a:hover ul
{left:100%; top:-10px; border:1px solid #fff; border-color:#fff #ccc #aaa #eee;}

/* keep further levels hidden */
#navigation a:hover ul ul,
#navigation a:hover a:hover ul ul
{position:absolute; left:-9999px; top:-9999px;}
	
	
/*----sub menu setting------*/
.sub_menu{
	margin:7px 0 0 0;
	}
	
.sub_menu li {
	float:left;
	}
	
.sub_menu a {
	padding:0 12px;
	font:11px Verdana, Arial, Helvetica, sans-serif;
	color:#666;
	border-right:1px solid #666;
	text-decoration:none;
	}
	
.sub_menu a.last {
	border-right:none;
	}
	
.sub_menu a:visited{
	color:#666;
	}
	
.sub_menu a:hover{
	text-decoration:underline;
	}
	
.sub_menu a.current, .sub_menu a.current:hover {
	color:#0a5690;
	font-weight:bold;
}



/*----bodyframe setting------*/

	#wrapper {
	margin:0 auto;
	width: 980px;
	height:auto;
	border:1px solid #bae1ff;
	padding:0px;
	overflow:hidden;
	background: white;	
	}
	
	#header {
	/*width:760px;
	margin:0 auto;
	margin-top:30px;
	overflow:hidden;*/
	margin-bottom:10px
	}
	
	
	#submenubox {
	margin:0 auto;
	width: 980px;
	height:30px;
	border:1px solid #bae1ff;
	border-left:none;
	border-right:none;
	padding:0px;
	overflow:hidden;
	background: #f7f6f6;	
	}
	
	
	
	#mainbox {
	margin:0 auto;
	width: 980px;
	height:auto;
	border:1px solid #bae1ff;
	border-left:none;
	border-right:none;
	padding:0px;
	overflow:hidden;
	background: white;	
	}
	
	#footer {
	margin:0 auto;
	width: 980px;
	height:35px;
	border:1px solid #bae1ff;
	border-left:none;
	border-right:none;
	padding:5px;
	overflow:hidden;
	background: #f7f6f6;	
	text-align: center;
	}
	
	
	
	
/*-----admin-setting------*/

	#outer{
	height:100%;
	width:100%;
	display:table;
	vertical-align:middle;
	}
	
	#container {
	text-align: center;
	position:relative;
	vertical-align:middle;
	display:table-cell;
	height: 400px;
	} 
	
	#inner {
	width:760px;
	border:1px solid #bae1ff;
	/*-- height: 300px; --*/
	text-align: left;
	margin: 20px auto 0px;
	padding: 40px 35px;
	background: white;	
	}
	
	.userbox {
	float:right;
	width:500px;
	height:auto;
	margin-left:15px;
	padding:0px 0 0 50px;
	border-left:1px dashed #bae1ff;
	}

	.logobox {
	float:left;
	width:auto;
	height:auto;
	margin-left:0px;
	padding:0px 0 0 0px;
	}

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

/* Top Right Box */


#toprightbox{
	float: right;
	background-color: #e1eeff;
	width:auto;
	text-align: right;
	margin:5px 12px 0px 0px;
	height:auto;
	padding:10px 10px 0px 10px;
}

#WelcomeName{
	font:11px Verdana, Arial, Helvetica, Geneva, sans-serif;
	color:#0a5690;
	margin:0px 0px 10px 0px;
	padding:0px;
	font-weight:bold;
}

#Title{
	font:11px Verdana, Arial, Helvetica, Geneva, sans-serif;
	margin:0px 0px 10px 0px;
	padding:0px;
}

img.lefty {
	float:left;
	padding:0px 8px 0px 0px;
	}
	
img.righty {
	float:right;
	padding:0px 120px 0px 0px;
	}

#Title a {
	color:#0a5690;
	text-decoration:none;
	}


#Title a:hover {
	color:#0a5690;
	text-decoration:underline;
	}


	
	
	
	
	
/* Content Box  */

#contentbar {
	background-color: white;
	padding: 5px;
	margin: 0px 0px 0px 0px;
	height: auto;
}

#contentbar_content{
	border: 1px solid #bae1ff;
	background-color: white;
	padding:5px;
}

#TitleBox, .TitleBox {
	margin: 30px 0px 0px 0px;
	border:1px solid #ccc;
	border-left:none;
	border-right:none;
	padding:5px;
	background: #e1eeff;	
	font:12px Verdana, Arial, Helvetica, Geneva, sans-serif;
	font-weight:bold;
	}

#ColorBox {
	margin: 0px 10px 0px 0px;
	width: auto;
	height:auto;
	border:1px solid #ccc;
	border-left:none;
	border-right:none;
	padding:15px;
	overflow:hidden;
	background: #f7f6f6;	
	font:10px Verdana, Arial, Helvetica, Geneva, sans-serif;
	font-weight:bold;
	}	
	
.window_outline .tl {background: url(../../highslide/graphics/outlines/rounded-white.png) 0px 0px; height:20px; width:20px}
.window_outline .tm {background: url(../../highslide/graphics/outlines/rounded-white.png) 0px -40px; height:20px; width:20px}
.window_outline .tr {background: url(../../highslide/graphics/outlines/rounded-white.png) -20px 0px; height:20px; width:20px}
.window_outline .ml {background: url(../../highslide/graphics/outlines/rounded-white.png) 0px -80px; height:20px; width:20px}
.window_outline .mr {background: url(../../highslide/graphics/outlines/rounded-white.png) -20px -80px; height:20px; width:20px}
.window_outline .bl {background: url(../../highslide/graphics/outlines/rounded-white.png) 0px -20px; height:20px; width:20px}
.window_outline .bm {background: url(../../highslide/graphics/outlines/rounded-white.png) 0px -60px; height:20px; width:20px}
.window_outline .br {background: url(../../highslide/graphics/outlines/rounded-white.png) -20px -20px; height:20px; width:20px}
.window_outline .mm {background-color:White}

.ajaxprogress_transparent_window {width:100%; height:100%; position:absolute; background-color:transparent; opacity:0.9; filter:alpha(opacity=90)}
.ajaxprogress_content_window {width:100%; height:100%; position:absolute}
.ajaxprogress_wait_window {width:100%; height:100%}
.ajaxprogress_wait_window td {text-align:center; vertical-align:middle}

.required {color:Red}

.modalBackground {background-color:Black; filter:alpha(opacity=80); opacity:0.8}

.entry_table td {border-bottom:1px dashed #bae1ff}

.gridviewlist {
	width: 100%;
	border-spacing: 1px;
	background-color: #e7e7e7;
	color: #666;
	border-collapse:separate;
}

.gridviewlist td,
.gridviewlist th { padding: 4px}

.gridviewlist th {
	text-align: center;
	background: #f0f0f0;
	color: #666;
	border-bottom: 1px solid #999;
	border-left: 1px solid #fff;
}

.gridviewlist a:hover { text-decoration: none; }

.gridviewlist th img { vertical-align: middle; }

.gridviewlist th { font-weight: bold; }

.gridviewlist th a { text-decoration:none; }

.gridviewlist tr.row0:hover td,
.gridviewlist tr.row1:hover td  { background-color: #ffd ; }

.gridviewlist tr.row0 td { background-color: #fff; border: 1px solid #fff; }
.gridviewlist tr.row1 td { background-color: #f9f9f9; border: 1px solid #FFF; }

.gridviewlist td.optionlink { text-align:center; }

.gridviewlist td {border-right: 1px solid #bae1ff;border-bottom: 1px solid #bae1ff;}


.custom_message{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 12px;
    color:Red;
    padding:0px;
    padding-bottom:15px;
}

.empty_gridview, .nodata { font-weight:bold; font-style:italic; text-align:center; margin:20px auto}

.clr { clear: both; overflow:hidden; height: 0px; margin:0px; padding:0px }
.clear { clear: both; }

.validation_summary ul { list-style-type:disc; margin-left:15px; color:Red}
.validation_summary li { color:Red}

td.order { text-align: center; white-space: nowrap }
td.order span { float: left; height:2px; width: 20px; text-align: center; overflow:visible}

.text_center { text-align:center }

.grid_role td {padding:5px; padding-right:20px; vertical-align:middle }

.ovrflowboxPlain {  border:1px solid #7F9DB9; background-color:white; overflow:auto; overflow-x:hidden; scrollbar-arrow-color:#666; scrollbar-face-color:#ddd; scrollbar-track-color:#fff; scrollbar-base-color:none; scrollbar-3dlight-color:none; scrollbar-highlight-color:none; scrollbar-darkshadow-color:none; scrollbar-shadow-color:none; }

.loginpage { text-align: center; margin:150px 0px; }

.disable_color { color:#CCCCCC }

.audit_action_tbl { background-color: White; border-width: 1px; border-style: solid; border-collapse: collapse; }
.audit_action_tbl thead tr { background-color: LightGrey; }

.spacer { height:15px; clear:both; }

.agrid { width: 100%; color: #666; border-collapse:collapse; }
.agrid td { font-size:7pt !important; border: 1px solid LightGrey !important; background-color:White !important; }
.agrid thead td { text-align: center; background: #f0f0f0 !important; color: #666; font-weight:bold; border: 1px solid LightGrey !important; }

a[disabled] { color:#CCC; cursor: default; }

.options_table td { vertical-align:middle; padding:5px; border-collapse:collapse; border: 1px solid LightGray; }


/* Pagination Style 1  */
.pagination {padding:7px; color: #333; background-color: #f3f3f3; border-top: 1px solid #999}
.pagination table {margin:auto; }
.pagination div.limit { float: left; height: 22px; line-height: 22px; }
.pagination div.paging { margin-left:120px; }
.pagination a { text-decoration: none; }
.pagination .button2-left,
.pagination .button2-right,
.pagination .button2-left div,
.pagination .button2-right div {
	float: left;
}
.pagination .button2-left a,
.pagination .button2-right a,
.pagination .button2-left span,
.pagination .button2-right span {
	display: block;
	height: 22px;
	float: left;
	line-height: 22px;
	font-size: 11px;
	color: #333;
	cursor: pointer;
}
.pagination .button2-left span,
.pagination .button2-right span { cursor: default; color: #999; }
.pagination .button2-left .page a,
.pagination .button2-right .page a,
.pagination .button2-left .page span,
.pagination .button2-right .page span,
.pagination .button2-left .blank a,
.pagination .button2-right .blank a,
.pagination .button2-left .blank span,
.pagination .button2-right .blank span { padding: 0 6px; }
.pagination .page span,
.pagination .blank span {
	color: #000;
	font-weight: bold;
}
.pagination .button2-left a:hover,
.pagination .button2-right a:hover { text-decoration: none; color: #0B55C4; }
.pagination .button2-left a,
.pagination .button2-left span { padding: 0 24px 0 6px; }
.pagination .button2-right a,
.pagination .button2-right span { padding: 0 6px 0 24px; }
.pagination .button2-left { background: url(../../images/j_button2_left.png) no-repeat; float: left; margin-left: 5px; }
.pagination .button2-right { background: url(../../images/j_button2_right.png) 100% 0 no-repeat; float: left; margin-left: 5px; }
.pagination .button2-right .prev { background: url(../../images/j_button2_prev.png) no-repeat; }
.pagination .button2-right.off .prev { background: url(../../images/j_button2_prev_off.png) no-repeat; }
.pagination .button2-right .start { background: url(../../images/j_button2_first.png) no-repeat; }
.pagination .button2-right.off .start { background: url(../../images/j_button2_first_off.png) no-repeat; }
.pagination .button2-left .page,
.pagination .button2-left .blank { background: url(../../images/j_button2_right_cap.png) 100% 0 no-repeat; }
.pagination .button2-left .next { background: url(../../images/j_button2_next.png) 100% 0 no-repeat; }
.pagination .button2-left.off .next { background: url(../../images/j_button2_next_off.png) 100% 0 no-repeat; }
.pagination .button2-left .end { background: url(../../images/j_button2_last.png) 100% 0 no-repeat; }
.pagination .button2-left.off .end { background: url(../../images/j_button2_last_off.png) 100% 0 no-repeat; }

/* Pagination Style 2  */
.pagination2 {padding:7px; color: #333; background-color: #f3f3f3; border-top: 1px solid #999; }
.pagination2 table { width: 100%; }
.pagination2 div.limit { float: left; height: 22px; line-height: 22px; margin: 0; }
.pagination2 div.paging { float: right; height: 22px; line-height: 22px; margin: 0; }
.pagination2 a { text-decoration: none; }
.pagination2 .button2-left,
.pagination2 .button2-right,
.pagination2 .button2-left div,
.pagination2 .button2-right div {
	float: left;
}
.pagination2 .button2-left a,
.pagination2 .button2-right a,
.pagination2 .button2-left span,
.pagination2 .button2-right span {
	display: block;
	height: 22px;
	float: left;
	line-height: 22px;
	font-size: 11px;
	color: #333;
	cursor: pointer;
}
.pagination2 .button2-left span,
.pagination2 .button2-right span { cursor: default; color: #999; }
.pagination2 .button2-left .page a,
.pagination2 .button2-right .page a,
.pagination2 .button2-left .page span,
.pagination2 .button2-right .page span,
.pagination2 .button2-left .blank a,
.pagination2 .button2-right .blank a,
.pagination2 .button2-left .blank span,
.pagination2 .button2-right .blank span { padding: 0 5px; }
.pagination2 .page span,
.pagination2 .blank span {
	color: #000;
	font-weight: bold;
}
.pagination2 .button2-left a:hover,
.pagination2 .button2-right a:hover { text-decoration: none; color: #0B55C4; }
.pagination2 .button2-left a,
.pagination2 .button2-left span { padding: 0 5px; }
.pagination2 .button2-right a,
.pagination2 .button2-right span { padding: 0 5px; }
.pagination2 .button2-left .page,
.pagination2 .button2-left .blank { margin: 0px 6px;}

.upper { text-transform:uppercase; }

.cblist_wrapper {overflow-y:auto;overflow-x:hidden;border:solid 1px #7F9DB9;font-size:8pt;height:140px;width:300px;position:relative;}
.cblist_wrapper ul,.cblist_wrapper ol{list-style:none;margin:0;padding-left:0; padding-top:5px}
.cblist_wrapper li{padding:0;margin-bottom:2px;text-indent:10px}
.cblist_wrapper label{margin-left:3px}

input[disabled] { color:Gray; }

.imageContainerUpload{margin-bottom:10px;padding:0 10px 10px 10px;border:1px solid #ccc;position:relative;width:400px;}
.imageContainerUpload label{display:block;font-weight:bold;padding:10px 0 3px 0;clear:both;color:#000;}
.imageContainerUpload .removeImage{position:absolute;top:8px;right:5px;}
.imageContainerUpload input[type="text"]{width:300px;}
.imageContainerUpload .adPhoto{width:100px;float:left;}
.imageContainerUpload .editImage{float:left;width:290px;padding:0 0 0 10px;}

.clear:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}* html .clear{height:1%;clear:both;line-height:0px;}.clear{display:block;clear:both;height:0;line-height:0px;}

input[type="checkbox"]{margin:0 5px 0 0;}

.formdata .finmsg{margin-top:30px;text-align:center;padding:0 10px;}
.formdata .buttons{margin-top:15px;text-align:center;}
.formdata .question,.formdata .sub-content{margin-bottom:10px;}
.formdata .fieldname, .formdata .fielddata{margin-bottom:5px;}
.formdata .fieldname-align-left{width:25%;float:left;padding-bottom:5px;}
.formdata .text-align-right{margin-right:10px;width:23%}
.formdata .fielddata-align-left{width:75%;float:left;padding-bottom:5px;}
.formdata .footer{clear:both;padding-top:5px;}
.formdata .fieldnote{font-size:.9em;}
.formdata .selectbutton {line-height:1.5em}
.formdata .selectbutton label{padding-left:5px;}
.formdata .sub-content .description{padding-left:5px;}
.formdata .rankone_title { font-weight:bold; text-align:center; }
.formdata .rankone_selection_title { text-align:center; }
.formdata .rankone_selection { text-align:center; }
.formdata .ranktwo_title { text-align:center; }
.formdata .ranktwo_selection { text-align:center; padding-top:5px; }
.formdata .ranktwo_selection { padding-right:10px; }
.formdata .mandatory {font-size:80%;text-align:right;}


.imgthumb { border: 1px solid black !important; }

.lefty { float:left; }
.righty { float:right; }
.nofloat { float:none; }

.searchtable { vertical-align:middle; margin-bottom:5px; width:100%; border:0; }
.searchtable .item { vertical-align:middle; text-align:right; }
.searchtable .first { text-align:left; width:100%; }
.searchtable input[type="text"] { font: 11px Verdana, Arial, Helvetica, sans-serif; padding: 2px 4px; }

.ucase { text-transform:uppercase; }
.watermark, .watermarked { color: #999 !important; }
.watermarked { font: 11px Verdana, Arial, Helvetica, sans-serif; padding: 2px 4px; }
.msg, .msg span { color:red; padding-right:5px; }