body
{
}

.mydiv
{
	table-layout: fixed;
	display: block;
	z-index: 100;
	overflow: scroll;
	clip: rect(auto auto auto auto);
	position: absolute;
	height: 200px;
	background-color: red;
}

.se
{
	z-index: -1;
	position: absolute;
}

.text
{
	border-right: black 1px solid;
	border-top: black 1px solid;
	border-left: black 1px solid;
	border-bottom: black 1px solid;
}

.headerstyle
{
	font-weight: bold;
	font-size: 8pt;
	color: white;
	font-family: Arial;
	background-color: lightsteelblue;
}

.itemstyle
{
	font-size: 8pt;
	font-family: Arial;
	background-color: gold;
}

.textboxstyle
{
	border-right: black 1px solid;
	border-top: black 1px solid;
	border-left: black 1px solid;
	border-bottom: black 1px solid;
}

.buttonstyle
{
	border-right: black 1px solid;
	border-top: black 1px solid;
	border-left: black 1px solid;
	border-bottom: black 1px solid;
	background-color: #ffcc66;
}

.TextBoxStyle
{
	border-right: lightsteelblue 1px solid;
	border-top: lightsteelblue 1px solid;
	border-left: lightsteelblue 1px solid;
	border-bottom: lightsteelblue 1px solid;
	border-color: #006699; 
	padding-left: 1; 
	padding-right: 1; 
	padding-top: 1; 
	padding-bottom: 1;
	font-size: 9pt;
	background-color: #eaf1f6;
}

.DGHeaderStyle
{ 
	background : red;
	FONT-WEIGHT: bold;
	FONT-SIZE: 8pt; 
	COLOR: #f7f7f7; FONT-FAMILY: Verdana; 
	POSITION: relative; 
	TOP: expression(this.offsetParent.scrollTop - 1) ;
}

.DGItemStyle
{
	font-size: 8pt;
	color: #4a3c8c;
	font-family: Arial;
	background-color: lightsteelblue;
}

.MultiColumnComboBoxSearchButtonStyle
{
	border-right: black 1px solid;
	border-top: black 1px solid;
	font-weight: bold;
	font-size: 9pt;
	background-image: url(darrow.gif);
	border-left: black 1px solid;
	width: 18px;
	color: navy;
	border-bottom: black 1px solid;
	font-family: Arial;
	height: 19px;
}
