<%@ Page Language="vb" AutoEventWireup="false" Codebehind="index.aspx.vb" Inherits="AMS.index" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<TITLE>Asset Management Module (AMM)</TITLE>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	</HEAD>
	<frameset rows="87,*" border="0" frameborder="0" frameSpacing="0">
		<frame noresize name="fTop" scrolling="no" src="common/TopPage.aspx">
		<frameset cols="235,*" border="0" frameborder="0">
				<frame noresize name="menu" src="common/menu.aspx">
				<frame name="content" src="common/welcomePg.aspx">
		</frameset>
		<noframes>
			<p>This page requires frames, but your browser does not support them.</p>
		</noframes>
	</frameset>
</HTML>
