<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="label_RFID.aspx.vb" Inherits="AMS.label_RFID" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>AMS - Print RFID Label</title>
    <link href="CommonStyle.css" type="text/css" rel="Stylesheet">
</head>
<body>
    <form id="frm_RFIDLabel" runat="server">
    <div>
    RFID Label comming here...
    </div>
    <input type=hidden id=hdnAssetIDs value="" runat=server />
    </form>
</body>
</html>
