<%@ Page Language="vb" AutoEventWireup="false" Codebehind="RightPage.aspx.vb" Inherits="AMS.RightPage"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>RightPage</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
		<LINK href="FTSfooter_cr.ascx" type="text/css" rel="Stylesheet">
	</HEAD>
	<body MS_POSITIONING="GridLayout">
		<form id="Form1" method="post" runat="server">
			
			<table width="100%" height="100%" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td valign="top" background="../images/rightmid.gif"><img src="../images/spacer.gif" width="14"></td>
					<td width="100"><img src="../images/spacer.gif" width="14"></td>
				</tr>
			</table>
					
		</form>
	</body>
</HTML>
