<%@ Page Language="vb" AutoEventWireup="false" Codebehind="welcomePg.aspx.vb" Inherits="AMS.FTSwelcomePg"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>welcomePg</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	</HEAD>
	<body MS_POSITIONING="GridLayout">
		<form id="Form1" method="post" runat="server">
			<table width="100%" height="100%" align="center">
				<tr>
					<td align="center">
							<img src="../images/AGCLogo.JPG">
						<br><br>
						<b>File Management Module</b>
						<br /><br /><br />
						
					</td>
				</tr>
			</table>
		</form>
	</body>
</HTML>
