/* DEPRECATED -- The style for the combo box container */
.ComboBox
{}
/* Defines the text box. */
.ComboBoxText
{
	border-left:1px solid #CBE0FB;
	border-top:1px solid #CBE0FB;
	border-bottom:1px solid #CBE0FB;
	border-right:1px solid #CBE0FB;
	height:20;
	font:8pt Tahoma,Arial;
	vertical-align:text-bottom;
	padding-top: 2px;
	padding-left: 3px;
}
.ComboRowContainerParent {
	margin: 0px;
	padding: 0px;
}
.ComboBoxTextDisabled
{
	border-left:1px solid #CBE0FB;
	border-top:1px solid #CBE0FB;
	border-bottom:1px solid #CBE0FB;
	border-right:1px solid #CBE0FB;
	height:20;
	font:8pt Tahoma,Arial;
	vertical-align:text-bottom;
	padding-top: 2px;
	padding-left: 3px;
}
.ComboBoxTextDynamic
{
	background:#fff;
}
.ComboBoxTextDynamicOver
{
	background:#e9ebf4;
	border-left:1px solid #316AC5;
	border-top:1px solid #316AC5;
	border-bottom:1px solid #316AC5;
	border-right:1px solid #316AC5;	
}
/* DEPRECATED -- Defines the container containing the textbox and button */
.ComboBoxTextAndButton
{}
/* Defines the button */
.ComboBoxButton
{
	cursor:pointer;
}
/* Defines the button's IMG tag */
.ComboBoxButtonImg
{
	background:url("button.gif");
	vertical-align:text-bottom;
	/* underscore-css-hack necessary because below are only needed for IE */
	_position:relative;
	_top:-1;
	/* width/height necessary to size the transparent 1x1pixel gif to allow
		the above background to show */
	width:15;
	height:20;
}
/* The class used when the user mouses over the button. */
.ComboBoxButtonImgOver
{
	background:url("button_hl.gif");
	vertical-align:text-bottom;
	/* underscore-css-hack necessary because below are only needed for IE */
	_position:relative;
	_top:-1;
	/* width/height necessary to size the transparent 1x1pixel gif to allow
		the above background to show */
	width:15;
	height:20;
}
/* The class used when the combo is disabled. */
.ComboBoxButtonImgDisabled
{
	background:url("button_hl.gif");
	vertical-align:text-bottom;
	/* underscore-css-hack necessary because below are only needed for IE */
	_position:relative;
	_top:-1;
	/* width/height necessary to size the transparent 1x1pixel gif to allow
		the above background to show */
	width:15;
	height:20;
}
/* The class used when the user presses the button. */
.ComboBoxButtonImgPressed
{
	background:url("button_pressed.gif");
	vertical-align:text-bottom;
	/* underscore-css-hack necessary because below are only needed for IE */
	_position:relative;
	_top:-1;
	/* width/height necessary to size the transparent 1x1pixel gif to allow
		the above background to show */
	width:15;
	height:20;
}
/* The list container; contains the list's header, body, footer. */
.ComboBoxList
{
	border-right: silver 1px solid;
	border-top: silver 1px solid;
	border-left: silver 1px solid;
	border-bottom: silver 1px solid;
	background-color: white;
	z-index: 1000;
	visibility: hidden;
	display: none;
	position: absolute;
	text-align: left;
	scrollbar-face-color:#D5DFF9;
	scrollbar-highlight-color:#FFFFFF;
	scrollbar-3dlight-color:#EBEFF7;
	scrollbar-darkshadow-color:#5D5A6D;
	scrollbar-shadow-color:#4D6185;
	scrollbar-arrow-color:#000000;
	scrollbar-track-color:#F4F1EC;
}
.ComboBoxListIframe{
	float:left;
}
/* The list's body; the middle container in the list container. */
.ComboBoxListBody
{
	/* workaround to scrolling issue */
	overflow:auto;
	_overflow:hidden;
	_overflow-y:auto;
	background:#FFFFFF;
	font:8pt Tahoma,Verdana,Arial;
	float:left;
}
/* The list's header; the topmost container in the list container. */
.ComboBoxListHeader
{
	overflow:hidden;
	background-color: #CBE0FB;
	font:8pt Tahoma,Verdana,Arial;
	color:#000000;
	background-position: bottom left;
	background-image:url(topbar.gif);
	border-bottom:1px solid #3B619C;
	height:25;
	float:left;
}
/* The table storing the actual list data */
.ComboBoxListBodyTable
{
	font-size:8pt;
	margin:0px;
	border-collapse:collapse;
	background:#FFFFFF;
	float:left;
}
/* A row in the table. */
.ComboBoxListBodyTableRow
{
	font:8pt Tahoma,Verdana;
	margin:0px;
	border-collapse:collapse;
	height:18px;
	padding-top: 1px;
	background:#FFFFFF;
	cursor:pointer;
	border:#F9F9F9 0px solid;
	float:left;
}
/* The style used when the user selects or mouses over a row */
.ComboBoxListBodyTableRowHighlighted
{
	font-size:8pt;
	margin:0px;
	padding-top: 1px;
	border-collapse:collapse;
	height:18px;	
	color:#000;
	background:#F6F6F6;
	border:#B8CCE4 0px solid;
	cursor:pointer;
	float:left;
}
/* The column labels at the top of the columns. This style is applied to the whole row of labels. */
.ComboBoxColumnLabels
{
	font:8pt Tahoma,Arial;	
	color:#000;
	float:left;
	padding: 0px;
	margin: 0px;
}
/* The style applied to the individual label. */
.ComboBoxColumnLabel
{
	font:10pt Tahoma,Arial;
	color:#000000;
	vertical-align:middle;
	position:relative;
	padding: 0px;
	margin: 0px;	
	top:0px;
	padding-top: 3px;
	padding-left: 2px;
	float:left;
}
/* The footer that sits underneath the list. */
.ComboBoxListFooter
{
	font:10pt Tahoma,Arial;
	background-color: #CBE0FB;
	background-position: top left;
	background-image:url(topbar.gif);
	vertical-align:middle;
	color: #000000;
	height:23px;
	padding:0px;
	float:left;
	overflow:hidden;
}
.ComboBoxListColumnDefinition
{
	_height:18px;
	min-height:18px;
	float:left;
	font:10pt Tahoma,Arial;
	overflow:visible;
	cursor:pointer;	
	padding-left:2px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px;		
}
.ComboBoxListFooterPageNextButton
{
	background:url("paging.gif") no-repeat right top;
	border-top:1px solid #3B619C;
	padding-top:2px;
	padding-left: 2px;
	height:23px;
	cursor:hand;
	float:left;
}
.ComboBoxListFooterPageNextButtonHighlight
{
	background:#ffeec2 url("paging.gif") no-repeat right top;
	color: #000000;
	border-top:1px solid #98AAB1;
	padding-top:2px;
	padding-left: 2px;
	height:23px;
	cursor:hand;
	float:left;
}
/* affects the color of the list's outer border */
/* PLEASE DO NOT put anything else into this style */
/* this style is provided solely to change this one attribute */
.ComboBoxListOuterBorder
{
      border-color:#002D96;
}
.ComboMenus
{
	overflow:hidden;
	background-color: #F0F0E5;
	font:8pt Tahoma,Verdana,Arial;
	color:#000000;
	cursor: pointer;
	cursor: hand;
	padding:0px;
	margin:0px;
}
.ComboMenu
{
	background-color: #F0F0E5;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom:1px solid #D8D2BD;
}
.ComboMenuHighlight
{
	background-color: #cac9b5;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom:1px solid #D8D2BD;
}
.ComboMenuIcon
{
}