.DGpageStyle
{
	font-weight: bold;
	cursor: auto;
	color: navy;
	font-style: normal;
	font-family: Serif;
}
.LabelErrorText 
{
  height:15px;	
  font-family: Verdana, Helvetica, Sans-serif;
  font-size: 10pt;
  color: Red;
}
.DisplayTitle
{
    COLOR: #666666;
}
.DisplayFieldSize
{
	font-size: 10px;
	color: #666666;
	font-family: Verdana, Helvetica, Sans-serif;
}

.tvMenu
{
    BORDER-RIGHT: seagreen;
    BORDER-TOP: seagreen;
    FONT-SIZE: 10px;
    BORDER-LEFT: seagreen;
    COLOR: black;
    BORDER-BOTTOM: seagreen;
    FONT-FAMILY: Verdana, Helvetica, Sans-serif;
    TEXT-DECORATION: none
}
BODY, TD, BLOCKQUOTE, LI, OL, UL, P, DIV, PRE
	{COLOR: #000000; FONT-FAMILY: Verdana, Helvetica, Sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: normal; TEXT-DECORATION: none;}
A:LINK 
	{COLOR: #0000ff; TEXT-DECORATION: none;}
A:VISITED 
	{COLOR: #840084; TEXT-DECORATION: none;}
A:HOVER 
	{COLOR: #0000ff; TEXT-DECORATION: none;}
STRONG, B
	{FONT-WEIGHT: bold}
HR
	{HEIGHT:0.75pt; BACKGROUND-COLOR: #eeeeee; COLOR: #eeeeee; BORDER: 0;}
H1 
	{COLOR: #000000; FONT-SIZE: 10.5pt; FONT-WEIGHT: bold; TEXT-DECORATION: none; MARGIN-BOTTOM: 2.5pt; MARGIN-TOP: 0px}
IMG 
	{BORDER-COLOR: #000000;}
.Footer 
	{COLOR: #000000; FONT-WEIGHT: normal; TEXT-DECORATION: none}
/*
INPUT
	{BACKGROUND: #ffffff; BORDER-BOTTOM: #eeeeee 0.75pt ridge; BORDER-LEFT: #eeeeee 0.75pt ridge; BORDER-RIGHT: #eeeeee 0.75pt ridge; BORDER-TOP: #eeeeee 0.75pt ridge; COLOR: #000000; FONT-FAMILY: Courier New, Courier, mono; FONT-SIZE: 9pt;}
*/
INPUT
	{COLOR: #000000; FONT-FAMILY: Courier New, Courier, mono; FONT-SIZE: 9pt;}
TEXTAREA
	{BACKGROUND: #ffffff; BORDER-BOTTOM: #eeeeee 0.75pt ridge; BORDER-LEFT: #eeeeee 0.75pt ridge; BORDER-RIGHT: #eeeeee 0.75pt ridge; BORDER-TOP: #eeeeee 0.75pt ridge; COLOR: #000000; FONT-FAMILY: Courier New, Courier, mono; FONT-SIZE: 9pt;}
SELECT, OPTION
	{BACKGROUND: #ffffff; BORDER-BOTTOM: #eeeeee 0.75pt ridge; BORDER-LEFT: #eeeeee 0.75pt ridge; BORDER-RIGHT: #eeeeee 0.75pt ridge; BORDER-TOP: #eeeeee 0.75pt ridge; COLOR: #000000; FONT-FAMILY: Courier New, Courier, mono; FONT-SIZE: 9pt;}
TD.KIV
	{FONT-SIZE: 9pt; FONT-WEIGHT: normal; COLOR:#ffffff; BACKGROUND-COLOR:#52A300}
TD.sidebar
	{FONT-WEIGHT: normal; COLOR:#000000; BACKGROUND-COLOR:#E8E8F4}
TD.maincontents
	{FONT-WEIGHT: normal; COLOR:#000000; BACKGROUND-COLOR:#ffffff}
.Required
	{COLOR: #ff0000;}
UL
	{MARGIN-TOP: 5px;}
.navhead
	{FONT-SIZE: 11pt; FONT-WEIGHT: bold; COLOR:#615AB7}
.navcontents
	{FONT-SIZE: 10pt; FONT-WEIGHT: normal; COLOR:#3A3A42; TEXT-DECORATION: none;}
.navcontentson
	{FONT-SIZE: 10pt; FONT-WEIGHT: bold; COLOR:#62902E}
/*
.buttonlabel
{
	background: #c5c4bf;
	color: Black; 
	font-family: Courier New, Courier, mono;
	font-size: 9pt; 
	font-weight: bold;
	text-align: center;
	cursor: hand;
	HEIGHT: 1.75em
}
Input:BUTTON
{
	background: #c5c4bf;
	color: Black; 
	font-family: Courier New, Courier, mono;
	font-size: 9pt; 
	font-weight: bold;
	text-align: center;
	cursor: hand;
	HEIGHT: 1.75em
}
*/

.UpperCaseTextBox
{
    text-transform: uppercase;
}