<%@ Page Language="vb" AutoEventWireup="false" Codebehind="label_file.aspx.vb" Inherits="FTS.label_file"%>
<%@ Register TagPrefix="neobarcode" Namespace="Neodynamic.WebControls.BarcodeProfessional" Assembly="Neodynamic.WebControls.BarcodeProfessional" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>label_file</title>
		<meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR">
		<meta content="Visual Basic .NET 7.1" name="CODE_LANGUAGE">
		<meta content="JavaScript" name="vs_defaultClientScript">
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
		<LINK href="FTSstyle.css" type="text/css" rel="Stylesheet">
	</HEAD>
	<body MS_POSITIONING="GridLayout">
		<form id="frm_LabelFile" method="post" runat="server">
			<table width="100%" border="0">
				<tr>
					<td>
						<div id="divBarcode">
							<div style="PADDING-RIGHT: 5px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; WIDTH: 380px; PADDING-TOP: 5px; TEXT-ALIGN: center">
								<table width="100%" cellpadding="3" cellspacing="0">
									<tr>
										<td colSpan="2"><span style="FONT-SIZE: 13pt; FONT-FAMILY: Arial"><b><asp:label id="lblFileRefVol" Runat="server"></asp:label></b></span></td>
									</tr>
									<tr>
										<td colSpan="2"><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial"><asp:label id="lblFileTitle" Runat="server"></asp:label></span></td>
									</tr>
									<tr>
										<td colSpan="2">&nbsp;</td>
									</tr>
									<tr>
										<td width="40%"><neobarcode:barcodeprofessional id="barcodeCode" runat="server" Symbology="Code128" Font-Underline="False" Font-Strikeout="False"
												Font-Size="10pt" Font-Names="Arial" Font-Italic="False" Font-Bold="False" BarHeight="0.4"></neobarcode:barcodeprofessional></td>
										<td align="left"><span style="FONT-SIZE: 10pt; FONT-FAMILY: Arial">[<asp:label id="lblFileNo" Runat="server"></asp:label>]
											</span>
										</td>
									</tr>
								</table>
							</div>
						</div>
					</td>
				</tr>
			</table>
		</form>
		<script type="text/javascript">       
         // Print the window            
         window.print();
         
         // Close the window
         //window.close();    
		</script>
	</body>
</HTML>
