.DGpageStyle
{
	font-weight: bold;
	cursor: auto;
	color: navy;
	font-style: normal;
	font-family: Serif;
}
.LabelErrorText 
{
  height:15px;	
  font-family: Verdana, Helvetica, Sans-serif;
  font-size: 8pt;
  color: Red;
}
.DisplayTitle
{
    COLOR: #666666;
}
.DisplayFieldSize
{
	font-size: 9px;
	color: #666666;
	font-family: Verdana, Helvetica, Sans-serif;
}

.tvMenu
{
    BORDER-RIGHT: seagreen;
    BORDER-TOP: seagreen;
    FONT-SIZE: 8px;
    BORDER-LEFT: seagreen;
    COLOR: black;
    BORDER-BOTTOM: seagreen;
    FONT-FAMILY: Verdana, Helvetica, Sans-serif;
    TEXT-DECORATION: none
}
BODY, TD, BLOCKQUOTE, LI, OL, UL, P, DIV, PRE
	{COLOR: #000000; FONT-FAMILY: Verdana, Helvetica, Sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: normal; TEXT-DECORATION: none;}
A:LINK 
	{COLOR: #0000ff; TEXT-DECORATION: none;}
A:VISITED 
	{COLOR: #840084; TEXT-DECORATION: none;}
A:HOVER 
	{COLOR: #0000ff; TEXT-DECORATION: none;}
STRONG, B
	{FONT-WEIGHT: bold}
HR
	{HEIGHT:0.75pt; BACKGROUND-COLOR: #eeeeee; COLOR: #eeeeee; BORDER: 0;}
H1 
	{COLOR: #000000; FONT-SIZE: 10.5pt; FONT-WEIGHT: bold; TEXT-DECORATION: none; MARGIN-BOTTOM: 2.5pt; MARGIN-TOP: 0px}
IMG 
	{BORDER-COLOR: #000000;}
.Footer 
	{COLOR: #000000; FONT-WEIGHT: normal; TEXT-DECORATION: none}
/*
INPUT
	{BACKGROUND: #ffffff; BORDER-BOTTOM: #eeeeee 0.75pt ridge; BORDER-LEFT: #eeeeee 0.75pt ridge; BORDER-RIGHT: #eeeeee 0.75pt ridge; BORDER-TOP: #eeeeee 0.75pt ridge; COLOR: #000000; FONT-FAMILY: Courier New, Courier, mono; FONT-SIZE: 9pt;}

INPUT.TEXT
{
	color: blue;
	font-family: Courier New, Courier, mono;
	font-size: 8pt;
	width: 350px;
	background-color: fuchsia;
}	
*/
INPUT
	{COLOR: #000000; FONT-FAMILY: Courier New, Courier, mono; FONT-SIZE: 8pt;}
	

	
TEXTAREA
	{BACKGROUND: #ffffff; BORDER-BOTTOM: #eeeeee 0.75pt ridge; BORDER-LEFT: #eeeeee 0.75pt ridge; BORDER-RIGHT: #eeeeee 0.75pt ridge; BORDER-TOP: #eeeeee 0.75pt ridge; COLOR: #000000; FONT-FAMILY: Courier New, Courier, mono; FONT-SIZE: 8pt;}
SELECT, OPTION
	{BACKGROUND: #ffffff; BORDER-BOTTOM: #eeeeee 0.75pt ridge; BORDER-LEFT: #eeeeee 0.75pt ridge; BORDER-RIGHT: #eeeeee 0.75pt ridge; BORDER-TOP: #eeeeee 0.75pt ridge; COLOR: #000000; FONT-FAMILY: Courier New, Courier, mono; FONT-SIZE: 8pt;}
TD.KIV
	{FONT-SIZE: 8pt; FONT-WEIGHT: normal; COLOR:#ffffff; BACKGROUND-COLOR:#52A300}
TD.sidebar
	{FONT-WEIGHT: normal; COLOR:#000000; BACKGROUND-COLOR:#E8E8F4}
TD.maincontents
	{FONT-WEIGHT: normal; COLOR:#000000; BACKGROUND-COLOR:#ffffff}
.Required
	{COLOR: #ff0000;}
UL
	{MARGIN-TOP: 5px;}
.navhead
	{FONT-SIZE: 11pt; FONT-WEIGHT: bold; COLOR:#615AB7}
.navcontents
	{FONT-SIZE: 8pt; FONT-WEIGHT: normal; COLOR:#3A3A42; TEXT-DECORATION: none;}
.navcontentson
	{FONT-SIZE: 8pt; FONT-WEIGHT: bold; COLOR:#62902E}
/*
.buttonlabel
{
	background: #c5c4bf;
	color: Black; 
	font-family: Courier New, Courier, mono;
	font-size: 9pt; 
	font-weight: bold;
	text-align: center;
	cursor: hand;
	HEIGHT: 1.75em
}
Input:BUTTON
{
	background: #c5c4bf;
	color: Black; 
	font-family: Courier New, Courier, mono;
	font-size: 9pt; 
	font-weight: bold;
	text-align: center;
	cursor: hand;
	HEIGHT: 1.75em
}
*/
.TRTitleBG
{
	font-weight: bold;
	color: black;
	background-color: silver;
	text-align: left;
}
.DisplayTitleHeader
{
	color: orangered;
	font-weight: bold;
	text-align: left;
}

.DisplayAudit
{
	color: orangered;
	font-weight: bold;
	text-align: left;
}

.item1
        {
            position: relative !important;
            display:-moz-inline-stack;
            display:inline-block;
            zoom:1;
            *display:inline;
            overflow: hidden;
            white-space: nowrap;
            width: 120px;
        }
        
        .item2
        {
            position: relative !important;
            display:-moz-inline-stack;
            display:inline-block;
            zoom:1;
            *display:inline;
            overflow: hidden;
            white-space: nowrap;
            width: 180px;
        }
        
        .header1
        {
            margin-left: 2px;
            width: 120px;
        }
   
        .header2
        {
            margin-left: 2px;
            width: 180px;
        }
   
        